{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Bloque 3
{% endblock %}

{% block content %}
<div id="questionnaire" class="row">
    <span id="cuestion_clicked">
        {{form.block_3_last_question_clicked}}
    </span>

    <h4 class="text-center text-info">
        Ahora se realizaran algunas preguntas referidas al tiempo cuando usted tenía 14 años. Es muy importante que
        trate de recordar cómo vivía cuando usted tenía 14 años.
    </h4>

    <ol class="questions" start="30">
        <li>
            <div>{{form.hogar_actual_vs_mexico.label}}</div>
            <div class="field-container">{{form.hogar_actual_vs_mexico}}</div>
        </li>
        <li>
            <div>{{form.cuanto_depende_de_usted_que_le_vaya_bien.label}}</div>
            <div class="field-container">{{form.cuanto_depende_de_usted_que_le_vaya_bien}}</div>
        </li>
        <li>
            <div>Algunas personas piensan que ciertos problemas deben ser resueltos por el Gobierno, mientras otras piensan que esos problemas
            deben ser resueltos completamente por la sociedad. En una escala del 1 al 10, donde 1 es “totalmente por la sociedad o la propia
            persona” y 10 es “totalmente por el Gobierno”, ¿en dónde se ubica usted en su creencia de quién debe resolver estos problemas?
            Usted puede escoger cualquier número entre 1 y 10.</div>
            <div>
                <table class="table table-hover fiftyfifty">
                    <tbody>
                        <tr><td>{{form.gobierno_o_sociedad_pobreza.label}}</td><td>{{form.gobierno_o_sociedad_pobreza}}</td></tr>
                        <tr><td>{{form.gobierno_o_sociedad_delincuencia.label}}</td><td>{{form.gobierno_o_sociedad_delincuencia}}</td></tr>
                        <tr><td>{{form.gobierno_o_sociedad_narcotrafico.label}}</td><td>{{form.gobierno_o_sociedad_narcotrafico}}</td></tr>
                        <tr><td>{{form.gobierno_o_sociedad_corrupcion.label}}</td><td>{{form.gobierno_o_sociedad_corrupcion}}</td></tr>
                        <tr><td>{{form.gobierno_o_sociedad_educacion.label}}</td><td>{{form.gobierno_o_sociedad_educacion}}</td></tr>
                        <tr><td>{{form.gobierno_o_sociedad_discriminacion.label}}</td><td>{{form.gobierno_o_sociedad_discriminacion}}</td></tr>
                        <tr><td>{{form.gobierno_o_sociedad_adicciones_y_enfermedades.label}}</td><td>{{form.gobierno_o_sociedad_adicciones_y_enfermedades}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div>{{form.dispuesto_a_tomar_riesgos.label}}</div>
            <div class="field-container">{{form.dispuesto_a_tomar_riesgos}}</div>
        </li>
        <li>
            <div>En una escala del 1 al 10, donde 1 es no me describe para nada y 10 me describe perfectamente, ¿qué tan bien le describe como
                 persona cada una de las siguientes frases? Usted puede escoger cualquier número entre 1 y 10</div>
            <div>
                <table class="table table-hover fiftyfifty">
                    <tbody>
                        <tr><td>{{form.describe_como_persona_abstengo_hacer_cosas_hoy.label}}</td><td>{{form.describe_como_persona_abstengo_hacer_cosas_hoy}}</td></tr>
                        <tr><td>{{form.describe_como_persona_retrazo_cosas.label}}</td><td>{{form.describe_como_persona_retrazo_cosas}}</td></tr>
                        <tr><td>{{form.describe_como_persona_asumo_gente_tiene_mejores_intenciones.label}}</td><td>{{form.describe_como_persona_asumo_gente_tiene_mejores_intenciones}}</td></tr>
                        <tr><td>{{form.describe_como_persona_no_entiendo_pelea_no_le_beneficia.label}}</td><td>{{form.describe_como_persona_no_entiendo_pelea_no_le_beneficia}}</td></tr>
                        <tr><td>{{form.describe_como_persona_ayudo_al_que_me_ayudo.label}}</td><td>{{form.describe_como_persona_ayudo_al_que_me_ayudo}}</td></tr>
                        <tr><td>{{form.describe_como_persona_me_vengo.label}}</td><td>{{form.describe_como_persona_me_vengo}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div>{{form.que_tan_impulsivo_se_considera.label}}</div>
            <div class="field-container">{{form.que_tan_impulsivo_se_considera}}</div>
        </li>
        <li>
            <div>En una escala del 1 al 10, donde 1 es nada dispuesto y 10 totalmente dispuesto, usted puede escoger cualquier número entre 1 y
                 10 ¿qué tan dispuesto está a...?</div>
            <div>
                <table class="table table-hover fiftyfifty">
                    <tbody>
                        <tr><td>{{form.dispuesto_a_confiar.label}}</td><td>{{form.dispuesto_a_confiar}}</td></tr>
                        <tr><td>{{form.dispuesto_a_compartir.label}}</td><td>{{form.dispuesto_a_compartir}}</td></tr>
                        <tr><td>{{form.dispuesto_a_regresar_favor.label}}</td><td>{{form.dispuesto_a_regresar_favor}}</td></tr>
                        <tr><td>{{form.dispuesto_a_castigar.label}}</td><td>{{form.dispuesto_a_castigar}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div>{{form.que_tan_paciente_se_considera.label}}</div>
            <div class="field-container">{{form.que_tan_paciente_se_considera}}</div>
        </li>
        <li>
            <div>En una escala del 1 al 10, donde 1 es totalmente en desacuerdo y 10 totalmente de acuerdo, dígame qué tan de acuerdo está con
                 cada uno de los siguientes enunciados. Usted puede escoger cualquier número entre 1 y 10.</div>
            <div>
                <table class="table table-hover fiftyfifty">
                    <tbody>
                        <tr><td>{{form.acuerdo_con_educacion_genera_ingreso.label}}</td><td>{{form.acuerdo_con_educacion_genera_ingreso}}</td></tr>
                        <tr><td>{{form.acuerdo_con_hombres_mas_trabajo_que_mujeres.label}}</td><td>{{form.acuerdo_con_hombres_mas_trabajo_que_mujeres}}</td></tr>
                        <tr><td>{{form.acuerdo_con_esposa_que_gana_mas_genera_dinero.label}}</td><td>{{form.acuerdo_con_esposa_que_gana_mas_genera_dinero}}</td></tr>
                        <tr><td>{{form.acuerdo_con_no_se_puede_confiar_en_nadie.label}}</td><td>{{form.acuerdo_con_no_se_puede_confiar_en_nadie}}</td></tr>
                        <tr><td>{{form.acuerdo_con_camino_de_mi_vida.label}}</td><td>{{form.acuerdo_con_camino_de_mi_vida}}</td></tr>
                        <tr><td>{{form.acuerdo_con_he_logrado_lo_que_merezco.label}}</td><td>{{form.acuerdo_con_he_logrado_lo_que_merezco}}</td></tr>
                        <tr><td>{{form.acuerdo_con_logros_suerte.label}}</td><td>{{form.acuerdo_con_logros_suerte}}</td></tr>
                        <tr><td>{{form.acuerdo_con_otros_deciden_por_mi.label}}</td><td>{{form.acuerdo_con_otros_deciden_por_mi}}</td></tr>
                        <tr><td>{{form.acuerdo_con_puedo_influir_en_condicion_social.label}}</td><td>{{form.acuerdo_con_puedo_influir_en_condicion_social}}</td></tr>
                        <tr><td>{{form.acuerdo_con_trabajar_duro_exito.label}}</td><td>{{form.acuerdo_con_trabajar_duro_exito}}</td></tr>
                        <tr><td>{{form.acuerdo_con_dudo_de_mi_mismo.label}}</td><td>{{form.acuerdo_con_dudo_de_mi_mismo}}</td></tr>
                        <tr><td>{{form.acuerdo_con_oportunidades_dadas_por_condiciones_sociales.label}}</td><td>{{form.acuerdo_con_oportunidades_dadas_por_condiciones_sociales}}</td></tr>
                        <tr><td>{{form.acuerdo_con_habilidades_mas_que_esfuerzo.label}}</td><td>{{form.acuerdo_con_habilidades_mas_que_esfuerzo}}</td></tr>
                        <tr><td>{{form.acuerdo_con_poco_control_de_la_vida.label}}</td><td>{{form.acuerdo_con_poco_control_de_la_vida}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div>De acuerdo con esta tarjeta, dígame ¿qué tanto ...?</div>
            <div>
                <table class="table table-hover">
                    <tbody>
                        <tr><td>{{form.que_tanto_es_es_reservado.label}}</td><td>{{form.que_tanto_es_es_reservado}}</td></tr>
                        <tr><td>{{form.que_tanto_es_confiable.label}}</td><td>{{form.que_tanto_es_confiable}}</td></tr>
                        <tr><td>{{form.que_tanto_es_flojo.label}}</td><td>{{form.que_tanto_es_flojo}}</td></tr>
                        <tr><td>{{form.que_tanto_es_relajado.label}}</td><td>{{form.que_tanto_es_relajado}}</td></tr>
                        <tr><td>{{form.que_tanto_es_artista.label}}</td><td>{{form.que_tanto_es_artista}}</td></tr>
                        <tr><td>{{form.que_tanto_es_sociable.label}}</td><td>{{form.que_tanto_es_sociable}}</td></tr>
                        <tr><td>{{form.que_tanto_es_falla_en_los_demas.label}}</td><td>{{form.que_tanto_es_falla_en_los_demas}}</td></tr>
                        <tr><td>{{form.que_tanto_es_nervioso.label}}</td><td>{{form.que_tanto_es_nervioso}}</td></tr>
                        <tr><td>{{form.que_tanto_es_imaginador.label}}</td><td>{{form.que_tanto_es_imaginador}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li>
            <div>De acuerdo con esta tarjeta, dígame para cada situación que le voy a mencionar ¿qué tanto lo describe?</div>
            <div>
                <table class="table table-hover">
                    <tbody>
                        <tr><td>{{form.que_tanto_lo_describe_ideas_me_distraen.label}}</td><td>{{form.que_tanto_lo_describe_ideas_me_distraen}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_contratiempos_desanima.label}}</td><td>{{form.que_tanto_lo_describe_contratiempos_desanima}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_persona_trabajadora.label}}</td><td>{{form.que_tanto_lo_describe_persona_trabajadora}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_pierdo_interes.label}}</td><td>{{form.que_tanto_lo_describe_pierdo_interes}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_persigo_diferentes_metas.label}}</td><td>{{form.que_tanto_lo_describe_persigo_diferentes_metas}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_dificultades_para_concentracion.label}}</td><td>{{form.que_tanto_lo_describe_dificultades_para_concentracion}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_termino_lo_que_comienzo.label}}</td><td>{{form.que_tanto_lo_describe_termino_lo_que_comienzo}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_efuerzo_en_mi_trabajo.label}}</td><td>{{form.que_tanto_lo_describe_efuerzo_en_mi_trabajo}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_malos_habitos.label}}</td><td>{{form.que_tanto_lo_describe_malos_habitos}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_cosas_inapropiadas.label}}</td><td>{{form.que_tanto_lo_describe_cosas_inapropiadas}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_resisto_tentaciones.label}}</td><td>{{form.que_tanto_lo_describe_resisto_tentaciones}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_me_arrepiento.label}}</td><td>{{form.que_tanto_lo_describe_me_arrepiento}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_hago_cosas_sin_pensar.label}}</td><td>{{form.que_tanto_lo_describe_hago_cosas_sin_pensar}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ol>

    <h4 class="text-center text-info">
        Preguntas con dinero hipotético. Por favor imagine que tiene una cierta cantidad de dinero y las decisiones que
        tomaría con ese dinero.
    </h4>
    <ol class="questions" start="41">
        <li>
            <div>{{form.apuesta_loteria_1000.label}}</div>
            <div class="field-container">{{form.apuesta_loteria_1000}}</div>
        </li>
        <li>
            <div>{{form.donar_1000.label}}</div>
            <div class="field-container">{{form.donar_1000}}</div>
        </li>
        <li>
            <div>Imagine que debe recibir un pago de $1,000 el día de hoy.</div>
            <div>
                <table class="table table-hover">
                    <tbody>
                        <tr><td>{{form.pagan_100_esperar_3_meses.label}}</td><td>{{form.pagan_100_esperar_3_meses}}</td></tr>
                        <tr><td>{{form.que_tanto_lo_describe_1_anio.label}}</td><td>{{form.que_tanto_lo_describe_1_anio}}</td></tr>
                    </tbody>
                </table>
            </div>
        </li>

    </ol>

</div>

<script>
$(document).ready(function(){
    $("form#form ol.questions li").click(function(evt){
        var $li = $(evt.currentTarget);
        var index = $li.index();
        var offset = $li.parent("ol").attr("start");
        if(!!offset)
            index = index + parseInt(offset);
        else
            index = index + 1;
        $("#cuestion_clicked input").val(index);
    });
});
</script>

{% endblock %}
