{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Sección 3
{% endblock %}

{% block content %}

    <h3>Instrucciones:</h3>
    <p>
        Durante esta sección usted deberá contestar un cuestionario de la manera más honesta posible. La información
        recopilada durante la sesión es confidencial y no podrá ser usada para fines diferentes a los acordados. Cada
        pantalla informa sobre el tiempo disponible para contestar un bloque de preguntas.
    </p>

    <div class="well text-center">
    <p><strong>{{form.genero.label}}</strong></p>
    <p>{{form.genero}}</p>
    </div>

    <span class="pull-right">
        {% next_button %}
    </span>
    <br>


{% endblock %}
