.box {
    width:100%;
    height:100%;
    background:#F5F5DC; /* biege color */
    margin:20px auto;
    padding: 10px 10px 10px 10px;
}
.rotate90 {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    float: left;
    margin-top: 1em; // TODO: do not hardcode to center align
}

input {
    margin-bottom: 2em;
}

/*==================================================
 * Effect 7
 * ===============================================*/
.effect7
{
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.effect7:before, .effect7:after
{
    content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.8);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.8);
    box-shadow:0 0 20px rgba(0,0,0,0.8);
    top:0;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
.effect7:after
{
    right:10px;
    left:auto;
    -webkit-transform:skew(8deg) rotate(3deg);
       -moz-transform:skew(8deg) rotate(3deg);
        -ms-transform:skew(8deg) rotate(3deg);
         -o-transform:skew(8deg) rotate(3deg);
            transform:skew(8deg) rotate(3deg);
}

div#time-limit {
    box-sizing: border-box;
    margin-left: 70%;
    padding: 5px;
    text-align: center;
    font-size: 12px;
}

div#time-limit > div > p > span{
    display: block;
    margin-top: 5px;
}


div#questionnaire li {
    font-weight: bold;
    margin-top: 20px;
    text-align: center;
}

div#questionnaire input{
    margin-bottom: 10px;
    margin-top: 5px;
}

div#questionnaire div.field-container {
    display:inline-block;
}

div#questionnaire div.field-container input[type="number"],
div#questionnaire div.field-container input[type="text"],
div#questionnaire div.field-container select,
div#section2 select {
    width: 250px;
}

div#questionnaire table td {
    text-align: left;
    vertical-align: middle;
}

div#questionnaire table input[type="number"],
div#questionnaire table input[type="text"] {
    margin: 0px;
}

div#questionnaire div.input-group.slider {
    margin-top: 5px;
    margin-bottom: 10px;
}

div#questionnaire div.input-group.slider input {
    margin-top: 0px;
    margin-bottom: 0px;
}

div#questionnaire table.fiftyfifty tr td:first-child,
div#questionnaire table.fiftyfifty tr td:nth-child(2) {
    width: 50%;
}


div#questionnaire table.imagetable td {
    text-align: center;
}

div#questionnaire label.radio-inline {
    font-size: 12px;
    margin-left: 3px;
}

.avatar-medina {
    width: 155px;
    width: 255px;
}
