{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
<div class="content" id="section2">
    {% if oponente %}
    <div class="row">
        <div class="col-md-8 pull-right">
            <table>
                <tr>
                    <td class="text-info lead">Este es el {{tipo_oponente}} Actual&nbsp&nbsp</td>
                    <td><img alt="Embedded Image" class="avatar-medina well pull-right" src="{{oponente.avatarb64}}" /></td>
                </tr>
            </table>
        </div>
    </div>
    {% endif %}
    <div class="row">
        <h3>Usted es el Proponente</h3>
        <div class="col-md-12">
            <p>
                A ambos jugadores se les ha entregado <strong>200 ECUs.</strong>
                Introduzca la cantidad que desea ofrecer al Respondente de
                los 200 ECUs.
            </p>
            {% formfield player.n_simple_propuesta %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <p>
                    <small class="text-info">Haga click en el botón de siguiente cuando su respuesta este lista.</small>
                </p>
            </div>
            <div class="pull-right">
                {% next_button %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
