{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Resultados del Round {{ subsession.round_number }} of {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
<div class="content" id="section2">
    <div class="row">
        <div class="col-md-12">
            <p>
                El Proponente ofertó <strong class="text-info">{{player.n_simple_propuesta}}</strong> y
                el Respondente <strong class="text-success">Acepto</strong> la oferta.
            </p>
            <h4>Pagos finales de la Ronda {{ subsession.round_number }}:</h4>
            <ul>
                <li><strong>Proponente:</strong> {{player.payoff}}<span class="text-info">(Usted)</span></li>
                <li><strong>Respondente:</strong> {{player.n_simple_propuesta}}</li>
            </ul>
        </div>
    </div>
</div>
{% endblock %}
