{% extends "global/Base.html" %}
{% load staticfiles otree_tags %}

{% block title %}
    Ronda {{ subsession.round_number }} de {{ Constants.num_rounds }}
{% endblock %}

{% block content %}
<div class="content" id="section2">
    <div class="row">
        <div class="col-md-8 pull-right">
            <table>
                <tr>
                    <td class="text-info lead">Este es el Trabajador Actual&nbsp&nbsp</td>
                    <td><img alt="Embedded Image" class="avatar-medina well pull-right" src="{% static virtual_oponent %}" /></td>
                </tr>
            </table>
        </div>
    </div>
    <div class="row">
        <h3>Usted es la Empresa</h3>
        <div class="col-md-12">
            <p>
               Usted es contratado(a) para realizar un proyecto con un pago de <strong>200 ECUs</strong>. Para honrar el contrato, debe contratar al
               <strong>único Trabajador(a) disponible</strong>. Introduzca la cantidad que desea ofrecer al Trabajador como salario de los 200 ECUs
               disponibles.
            </p>
            {% formfield player.n_empresa_trabajador_propuesta with label="" %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <p>
                    <small class="text-info">Haga click en el botón de siguiente cuando su respuesta este lista.</small>
                </p>
            </div>
            <div class="pull-right">
                {% next_button %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
